.high{
    background-color: #f53c3c;
    color:white;
    width:max-content;padding:7px 15px;font-size:12px;
    margin-right:10px;margin-bottom:10px;border-radius:3px;cursor: pointer;
}

.highx{
    background-color: #eeeeee;
    color:#999999;
    width:max-content;padding:7px 15px;font-size:12px;
    margin-right:10px;margin-bottom:10px;border-radius:3px;cursor: pointer;
}

.blacker{
    color:#f53c3c;
    font-size:18px;

}

.blackerx{
    color:#999999;
    font-size:18px;
}