<ion-content style="--background: rgba(0, 0, 0, .3); ">

  <div *ngIf="(paid == 'true' ||  paid == true)  && !order.address" style="width: 100vw; ">

    <div [ngStyle]="{'padding-top' : ' calc( ( 100vh - '+theheight +'px ) / 2 )'}"></div>

    <div #heighter id="heighter" class='stuff'>

      <div
        style="margin-top:30px;width: 100%; height: 100px; background: #ffffff; border-radius: 10px; background-image: radial-gradient(circle at left bottom, rgba(0, 0, 0, 0.3) 15px, transparent 0), radial-gradient(circle at right bottom, rgba(0, 0, 0, 0.3) 15px, transparent 0);">

        <div
          style="width: 100%; height: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div
            style="width: calc(100% - 50px); height: 100px; display: flex; flex-direction: column; align-items: center; border-bottom: 3px dashed #eeeeee; position: relative;">

            <div
              style="width: 60px; height: 60px; padding: 5px; background-color: #ffffff; border-radius: 100%; position: absolute; top: -30px;">

              <div
                style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: #ff9900; border-radius: 100%;">
                <ion-icon style="font-size: 45px; color: #ffffff;" name="checkmark"></ion-icon>
              </div>

            </div>

            <div style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
              <h3 style="font-weight: 600; margin: 0px 0px 3px 0px;">Thank You!</h3>
              <h6 style="font-weight: 600; color: #cccccc; margin: 0;">Your purchase was successful</h6>
            </div>


          </div>
        </div>

      </div>

      <div
        style="margin-bottom:30px;margin-top: -1px; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 20px 0px; background: #ffffff; border-radius: 10px; background-image:
         radial-gradient(circle at left top, rgba(0, 0, 0, 0.3) 15px, transparent 0), radial-gradient(circle at right top, rgba(0, 0, 0, 0.3) 15px, transparent 0);">

        <div style="width: calc(100% - 50px); max-width: 400px; ">

          <div style="text-align: start;">
            <div style="display: flex; align-items: center; ">
              <ion-icon style='font-size:18px;color:#00b871;margin-right:10px;' name="cube-outline"></ion-icon>
              <div style="font-size: 14px; font-weight: 500;">Order Detail</div>
            </div>
            <div style="margin-left:28px;margin-top: 10px; font-size: 12px; color: #333333;line-height: 25px;">
              {{order.name}} ({{order.qty}}&nbsp;units{{getvar(order.variations||[])}}) - {{order.price_now * order.qty
              |
              currency:'RM
              '}}</div>
            <div style="margin-left:28px;margin-top: 10px; font-size: 12px; color: #333333;">Order ID: {{order.id}}
            </div>
          </div>

          <div
            style="position: relative; margin-top: 10px; display: flex; align-items: center; justify-content: center; height: 200px; width: 100%">
            <img style='width:100%;height:100%;object-fit: contain;position: absolute;z-index:10;' src="{{qr}}">
            <img style='width: calc( 100% - 50px) ;height:100%;object-fit: cover;'
              src="https://i.pinimg.com/originals/39/ee/de/39eede5b8818d7c02d2340a53a652961.gif">
          </div>
          <!-- <img style="width: 100%; height: 100%; object-fit: contain; margin-top: 10px;" src="{{qr}}" alt=""> -->
        </div>

        <div style="width: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 10px;">
          <div style="width: calc(100% - 50px); font-size: 14px; font-weight: 500; color: #cccccc; text-align: center;">
            You can redeem the product at our outlet.</div>
        </div>

        <div style="display: flex; align-items: center;justify-content: center;width:100%;">
          <div (click)="track(order.id)"
            style="cursor: pointer; font-size: 14px; padding: 10px 20px; border: 1px solid #00b871; color: #00b871; font-weight: 300; width: max-content; margin: 10px 0px;">
            Track your order</div>
        </div>


        <div *ngIf="items.aftersale" style="text-align: start;width:100%; padding: 20px;">
          <div style="margin-top: 30px; font-weight: 500; font-size: 14px; display: flex; align-items: center;">
            <ion-icon style='font-size:18px;color:#00b871;margin-right:10px;' name="information-circle-outline">
            </ion-icon>
            Note to buyer
          </div>

          <div style=" margin-top: 5px;  font-size: 12px;width:100%;  white-space: pre-wrap;">
            - {{items.aftersale}}</div>
        </div>




      </div>

    </div>

  </div>

  <div *ngIf="(paid == 'true' || paid == true) && order.address" style="width: 100vw; ">

    <div [ngStyle]="{'padding-top' : ' calc( ( 100vh - '+theheight +'px ) / 2 )'}"></div>

    <div #heighter id="heighter" class='stuff'>

      <div
        style="width: 100%; height: 100px; background: #ffffff; border-radius: 10px; background-image: radial-gradient(circle at left bottom, rgba(0, 0, 0, 0.3) 15px, transparent 0), radial-gradient(circle at right bottom, rgba(0, 0, 0, 0.3) 15px, transparent 0);">

        <div
          style="width: 100%; height: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div
            style="width: calc(100% - 50px); height: 100px; display: flex; flex-direction: column; align-items: center; border-bottom: 3px dashed #eeeeee; position: relative;">

            <div
              style="width: 60px; height: 60px; padding: 5px; background-color: #ffffff; border-radius: 100%; position: absolute; top: -30px;">

              <div
                style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: #ff9900; border-radius: 100%;">
                <ion-icon style="font-size: 45px; color: #ffffff;" name="checkmark"></ion-icon>
              </div>

            </div>

            <div style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
              <h3 style="font-weight: 600; margin: 0px 0px 3px 0px;">Thank You!</h3>
              <h6 style="font-weight: 600; color: #d7d7d7; margin: 0;">Your purchase was successful</h6>
            </div>


          </div>
        </div>

      </div>

      <div
        style="margin-top: -1px; width: 100%; background: #ffffff; border-radius: 10px;
         background-image: radial-gradient(circle at left top, rgba(0, 0, 0, 0.3) 15px, transparent 0),
          radial-gradient(circle at right top, rgba(0, 0, 0, 0.3) 15px, transparent 0); padding: 30px; text-align: center;">

        <div style="text-align: start;">
          <div style="display: flex; align-items: center; ">
            <ion-icon style='font-size:18px;color:#00b871;margin-right:10px;' name="cube-outline"></ion-icon>
            <div style="font-size: 14px; font-weight: 500;">Order Detail</div>
          </div>
          <div style="margin-left:28px;margin-top: 10px; font-size: 12px; color: #333333;line-height: 25px;">
            {{order.name}} ({{order.qty}}&nbsp;units{{getvar(order.variations||[])}}) - {{order.price_now * order.qty |
            currency:'RM
            '}}</div>
          <div style="margin-left:28px;margin-top: 10px; font-size: 12px; color: #333333;">Order ID: {{order.id}}</div>
        </div>

        <img style="width: 100%;" src="assets/1.png">


        <div style=" font-size: 14px; font-weight: 500; color: #cccccc; text-align: center; margin-top: 20px;">
          Merchant will deliver your product as soon as possible.</div>

        <div style="display: flex; align-items: center;justify-content: center;">
          <div (click)="track(order.id)"
            style="cursor: pointer; font-size: 14px; padding: 10px 20px; border: 1px solid #00b871; color: #00b871; font-weight: 300; width: max-content; margin: 10px 0px;">
            Track your order</div>
        </div>

        <div *ngIf="items.aftersale" style="text-align: start;">
          <div style="margin-top: 30px; font-weight: 500; font-size: 14px; display: flex; align-items: center;">
            <ion-icon style='font-size:18px;color:#00b871;margin-right:10px;' name="information-circle-outline">
            </ion-icon>
            Note to buyer
          </div>

          <div style="margin-left:28px; margin-top: 5px;  font-size: 12px; white-space: pre-wrap;">
            - {{items.aftersale}}</div>
        </div>


        <!-- <div style="font-weight: 500; display: flex; align-items: center;">
          <ion-icon style="margin-right: 10px; font-size: 25px;" name="person-circle-outline"></ion-icon>
          <div style="width: calc(100% - 20px);"> {{name}}</div>
        </div>

        <div style="margin-top: 30px; font-weight: 500; display: flex; align-items: center;">
          <ion-icon style="margin-right: 10px; font-size: 25px;" name="call-outline"></ion-icon>

          <div style="width: calc(100% - 20px);"> {{contact}}</div>
        </div>

        <div style="margin-top: 30px; font-weight: 500; display: flex; align-items: center;">
          <ion-icon style="margin-right: 10px; font-size: 25px;" name="mail-outline"></ion-icon>

          <div style="width: calc(100% - 20px);"> {{email}}</div>
        </div>

        <div style="margin-top: 30px; font-weight: 500; display: flex; align-items: center;">
          <ion-icon style="margin-right: 10px; font-size: 25px;" name="home-outline"></ion-icon>
          <div style="width: calc(100% - 20px);"> {{address}}</div>
        </div> -->

        <!-- <div *ngIf="items.aftersale" style="margin-top: 30px; font-weight: 500; font-size: 12px;"><span
            style="color: red;">*</span> Instruction:</div>

        <div *ngIf="items.aftersale" style=" margin-top: 5px; font-weight: 500;">
          - {{items.aftersale}}</div> -->

      </div>

    </div>

  </div>

  <div *ngIf="(paid == 'false' || paid == false) && orderid!='' " style="width: 100vw;">

    <div [ngStyle]="{'padding-top' : ' calc( ( 100vh - '+theheight +'px ) / 2 )'}"></div>

    <div #heighter id="heighter" class='stuff'>

      <div
        style="width: 100%; height: 100px; background: #ffffff; border-radius: 10px; background-image: radial-gradient(circle at left bottom, rgba(0, 0, 0, 0.3) 15px, transparent 0), radial-gradient(circle at right bottom, rgba(0, 0, 0, 0.3) 15px, transparent 0);">

        <div
          style="width: 100%; height: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div
            style="width: calc(100% - 50px); height: 100px; display: flex; flex-direction: column; align-items: center; border-bottom: 3px dashed #eeeeee; position: relative;">

            <div
              style="width: 60px; height: 60px; padding: 5px; background-color: #ffffff; border-radius: 100%; position: absolute; top: -30px;">

              <div
                style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: #e05555; border-radius: 100%;">
                <ion-icon style="font-size: 45px; color: #ffffff;" name="close"></ion-icon>
              </div>

            </div>

            <div style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
              <h3 style="font-weight: 600; margin: 0px 0px 3px 0px;">Sorry!</h3>
              <h6 style="font-weight: 600; color: #d7d7d7; margin: 0;">Your purchase was unsuccessful</h6>
            </div>


          </div>
        </div>

      </div>

      <div style="margin-top: -1px; width: 100%; background: #ffffff; border-radius: 10px;
         background-image: radial-gradient(circle at left top, rgba(0, 0, 0, 0.3) 15px, transparent 0),
          radial-gradient(circle at right top, rgba(0, 0, 0, 0.3) 15px, transparent 0); padding: 40px 30px;">

        <img style="width: 100%;" src="assets/1.png">

        <div style=" font-size: 14px; font-weight: 500; color: #cccccc; text-align: center; margin-top: 20px;">
          You have cancelled your transaction.</div>
      </div>

    </div>

  </div>

</ion-content>

<div *ngIf="5 > animer" [ngClass]=" animer == 0 ? 'loading' : 'loadingx'" style=" width: 100vw; height: 100vh;
  position: fixed; display: flex; align-items: center; justify-content: center;
   background-color: white;">
  <img style="object-fit: cover; height: 100%;" src='assets/clogo.gif'>
</div>