<ion-content style='--background:#f7f9fd;'>

  <div
    [ngStyle]="{'padding-left' : widther(900)==true ? ' calc( ( 100vw - 900px ) / 2 )' : '0px','padding-right' : widther(900)==true ? ' calc( ( 100vw - 900px ) / 2 )' : '0px' }"
    style='width:100vw;background-color:#f7f9fd;'>

    <div
      style='width:100%;display:flex;align-items: center;justify-content: space-between;padding:0px 20px;background-color:white;border-bottom:1px solid #eeeeee;height:70px;'>
      <img *ngIf='widther(400)==true' style='height:30px;object-fit: contain;cursor: pointer;'
        src="https://i.imgur.com/pEyI97C.png" alt="">
      <img *ngIf='widther(400)==false' style='height:40px;width:40px;;object-fit: contain;cursor: pointer;'
        src="https://i.imgur.com/vCmo9nR.png" alt="">

      <div (click)="store(influencer['id'])" style='display:flex;align-items: center;justify-content: flex-end;'>
        <img style='height:40px;width:40px;object-fit: cover;border-radius:100%;'
          src="{{influencer['photo'] ? (stringornot(influencer['photo']) ? influencer['photo'] : influencer['photo'][0] ) : 'https://i.imgur.com/GvrNqUS.png' }}"
          alt="">
        <div style='margin-left:10px;cursor: pointer;'>
          <div
            style='font-size:14px;color:#333333;background-color:white;margin-right:20px;text-align: left;font-weight: bold;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:90px;'>
            {{influencer['name']}}</div>
          <div style='font-size:12px;color:#999999;margin-top:2px;'>Visit my store ></div>
        </div>

      </div>
    </div>

    <div style='width:100%;display:flex;justify-content: flex-start;background-color: white;padding:20px;'>
      <img style='height:60px;width:60px;border-radius:100%;object-fit: cover;'
        src="{{vendor_info['photo'] || 'https://media.istockphoto.com/vectors/young-woman-engaged-in-shopping-and-checkout-her-purchases-vector-id1073204892?b=1&k=6&m=1073204892&s=612x612&w=0&h=WQz5o6GHiShCSZhpcQ6G1Fkg8fPV65UKNU7z2sWTEBg='}}"
        alt="">
      <div style='margin-left:20px;'>
        <div style='font-size:15px;font-weight: bold;color:#333333;margin-top:10px;'>{{vendor_info['name']}}</div>
        <div style='width:calc( 100% );display:flex;flex-wrap: wrap;margin-top:10px;'>
          <div (click)='openlink(x.link, x.name)' *ngFor='let x of vendor_info["link"]'
            style='cursor: pointer;;padding:5px 10px;border:1px solid #eeeeee;font-size:12px;margin-right:10px;margin-bottom:10px;'>
            {{x.name}}</div>
        </div>
      </div>
    </div>

    <div style='width:100%;display:flex;flex-wrap: wrap;padding-left:20px;background-color:white;'>
      <div *ngFor='let eve of checkit(voucher|keyvalue);let i = index' (click)="go(eve.value.id)"
        style='margin-right:20px;margin-bottom:20px;background-color:white;box-shadow:1px 5px 10px rgba(0,0,0,0.1);position: relative;'
        [ngStyle]='{"width" : ( 900 > widtherget()  ? ((widtherget() - 20)/rounder(widtherget() / 200)) - 20 +"px" : "calc( ( 900px - 100px ) / 4 )")  }'>
        <div style='width:100%;cursor: pointer;'>
          <div style='width:100%;padding-bottom:100%;position: relative;'>
            <!-- <div style='height:30px;width:30px;border-radius:100%;display:flex;justify-content: center;align-items: center;cursor: pointer;background-color:Rgba(255,255,255,0.5);position: absolute;z-index:20;top:10px;right:10px;'>
              <ion-icon  style='font-size:20px;' name="share-outline"></ion-icon>
            </div> -->
            <img
              style='width:100%;height:100%;top:0;left:0;right:0;bottom:0;position: absolute;z-index:10;object-fit: cover;'
              src="{{eve.value.thumbnail}}" alt="">
          </div>
          <div style='padding:10px;width:100%;'>
            <div style='font-size:14px;color:#262626;font-weight: bold;'>{{eve.value.name}}</div>

            <div style='width:100%;display:flex;justify-content: space-between;align-items: center;'>

              <div style='margin-top:5px;display:flex;align-items: center'>
                <div *ngIf="eve.value.price_now" style='font-size:14px;font-weight: bold;color:#8a1515;'>
                  {{eve.value.price_now | currency:"RM"}}
                </div>
                <div *ngIf="!eve.value.price_now" style='font-size:14px;font-weight: bold;color:#8a1515;'>
                  APPLY FOR FREE
                </div>
                <div *ngIf='eve.value.price_ori > eve.value.price_now'
                  style='font-size:11px;font-weight: normal;color:#999999;;text-decoration:line-through;margin-left:5px;'>
                  &nbsp;{{eve.value.price_ori | currency:"RM"}}&nbsp;</div>
              </div>



            </div>

            <!-- <div style='width:100%;display:flex;align-items: center;margin-top:5px;'>
              
              <div style='margin-right:20px;display:flex;justify-content: center;align-items: center;border-radius:5px;'>
                <ion-icon style='color:#737373;;font-size:12px;margin-right:3px;' name="fast-food"></ion-icon>
                <div style='color:#737373;;font-size:12px;letter-spacing: 1px;'>fdg</div>
              </div>

            </div> -->

            <!-- <div *ngIf='eve.value.status==false' style='color:#8a1515;font-size:14px;font-weight: bold;position: absolute;bottom:10px;right:10px;'>Sold Out</div> -->



          </div>

        </div>




      </div>

      <div style='width:100%;' *ngIf='lengthof(voucher|keyvalue)==0'>
        <div
          style='width:calc( 100% - 40px );margin:20px;padding:20px;display:flex;justify-content: center;align-items: center;background-color: white;flex-direction: column;'>
          <img style='width:200px;' src="https://i.pinimg.com/originals/5d/35/e3/5d35e39988e3a183bdc3a9d2570d20a9.gif"
            alt="">
          <div style='font-size:16px;font-weight: bold;color:#666666;text-align: center;'>Nothing Here</div>
          <div style='padding-top:5px;font-size:14px;font-weight: normal;color:#666666;text-align: center;'>There are no
            items in this list.</div>
        </div>
      </div>

    </div>
    <div style='padding:40px;border-top:1px solid #eeeeee;background-color: white;;'>
      <div style='font-size:12px;color:#999999;text-align: center;margin-bottom:20px;'>© Copyright 2020- All rights
        reserved - Vsnap by Vsnap Global Sdn Bhd. version 3.0.1</div>
      <div style='text-align: center;display:flex;align-items: center;justify-content: center;'>
        <span (click)="outside('terms')" style='cursor: pointer;;font-size:10px;color:#525dc2;'>Terms &
          Condition</span>&nbsp;•&nbsp;<span (click)="outside('privacy')"
          style='cursor: pointer;font-size:10px;color:#525dc2;'>Privacy Policy</span>&nbsp;•&nbsp;<span
          (click)="outside('disclaimer')"
          style='cursor: pointer;font-size:10px;color:#525dc2;'>Disclaimer</span>&nbsp;•&nbsp;<span
          (click)="outside('refund')" style='cursor: pointer;font-size:10px;color:#525dc2;'>Refund Policy</span>
      </div>
    </div>

  </div>

</ion-content>