<ion-content style='position: fixed;z-index:10000;top:0;display:flex;justify-content: flex-end; 
   color: black;' [ngClass]='enter==true ? "inner22" : "innerx22"'>
  <div class='inside' style='background-color: white;position: relative;min-height:100vh;'>
    <div
      style='z-index: 1000; position: sticky; top: 0px; background-color: white; padding:20px;display:flex;align-items: center;margin-bottom:10px;'>
      <ion-icon (click)='enter=false' style='font-size:20px;margin-right:20px;cursor: pointer;'
        name="arrow-back-outline"></ion-icon>
      <div style='font-size:14px;font-weight: bold;'>Purchase Summary</div>
    </div>
    <div style='width:100%;background-color: white;padding:0px 20px;'>

      <div style='width:100%;display:flex;padding-bottom:20px;border-bottom:1px solid #eeeeee;margin-bottom:20px;'>
        <img style='width:100px;height:100px;object-fit: cover;margin-right:20px;' src="{{voucher['thumbnail']}}"
          alt="">
        <div style='width:calc( 100% - 120px )'>
          <div style='font-size:14px;'>{{voucher['name']}}</div>
          <div *ngIf="voucher.price_now"
            style='width:100%;text-align: left;font-size:14px;font-weight: bold;margin-top:10px;'>
            {{(voucher.price_now + countvar())*qty | currency:"RM"}}</div>
          <div *ngIf="!voucher.price_now"
            style='width:100%;text-align: left;font-size:14px;font-weight: bold;margin-top:10px;'>
            APPLY FOR FREE</div>

          <div style='flex-wrap: wrap;display:flex;margin-top:10px;'>
            <div style='font-size:12px;padding:5px 10px;margin-right:5px;margin-bottom:5px;border:1px solid #eeeeee;'>
              {{qty}}&nbsp;unit{{qty>1 ? "s" :""}}</div>
            <div *ngFor='let x of var_select;let i = index'
              style='font-size:12px;padding:5px 10px;margin-right:5px;margin-bottom:5px;border:1px solid #eeeeee;'>
              {{voucher['variations'][i].selections[x].name}}&nbsp;(+{{voucher['variations'][i].selections[x].price |
              currency:"RM"}})</div>
          </div>

        </div>
      </div>

      <div style='margin-left:0px;margin-bottom:30px;'>
        <div style='font-size:12px;color:#999999;margin-left:0px;margin-bottom:5px;'>Buyer Name (eg. John Smith)</div>
        <ion-input [(ngModel)]="name"
          style='--padding-start:10px;--padding-end:10px;font-size:14px;color:#333333;--background: #f7f9fd;'
          placeholder="enter your name"></ion-input>
      </div>

      <div style='margin-left:0px;margin-bottom:30px;'>
        <div style='font-size:12px;color:#999999;margin-left:0px;margin-bottom:5px;'>Phone Number (eg. 60123268301)
        </div>
        <ion-input [(ngModel)]="contact" type='tel'
          style='--padding-start:10px;--padding-end:10px;font-size:14px;color:#333333;--background: #f7f9fd;'
          placeholder="enter your phone number"></ion-input>
      </div>

      <div style='margin-left:0px;margin-bottom:30px;'>
        <div style='font-size:12px;color:#999999;margin-left:0px;margin-bottom:5px;'>Email Address (eg.
          johnsmith@email.com)</div>
        <ion-input [(ngModel)]="email" type='email'
          style='--padding-start:10px;--padding-end:10px;font-size:14px;color:#333333;--background: #f7f9fd;'
          placeholder="enter your email address"></ion-input>
      </div>

      <div *ngIf="voucher.address" style='margin-left:0px;margin-bottom:30px;'>
        <div style='font-size:12px;color:#999999;margin-left:0px;margin-bottom:5px;'>Delivery Address</div>
        <ion-input [(ngModel)]="address"
          style='--padding-start:10px;--padding-end:10px;font-size:14px;color:#333333;--background: #f7f9fd;'
          placeholder="enter your delivery address"></ion-input>
      </div>

      <div *ngIf="voucher.address" style='width:100%;;display:flex;align-items: center;margin-bottom:30px;'>

        <div style='margin-left:0px;margin-right:20px;width:calc( ( 100% - 20px ) / 2 );'>
          <div style='font-size:12px;color:#999999;margin-left:0px;margin-bottom:5px;'>Postcode</div>
          <ion-input [(ngModel)]="postcode"
            style='--padding-start:10px;--padding-end:10px;font-size:14px;color:#333333;--background: #f7f9fd;'
            placeholder="enter your postcode"></ion-input>
        </div>

        <div style='margin-left:0px;width:calc( ( 100% - 20px ) / 2 );'>
          <div style='font-size:12px;color:#999999;margin-left:0px;margin-bottom:5px;'>City</div>
          <ion-input [(ngModel)]="city"
            style='--padding-start:10px;--padding-end:10px;font-size:14px;color:#333333;--background: #f7f9fd;'
            placeholder="enter your city"></ion-input>
        </div>
      </div>

      <div style='margin-left:0px;margin-bottom:30px;'>
        <div style='font-size:12px;color:#999999;margin-left:0px;margin-bottom:5px;'>Remark</div>
        <ion-textarea [(ngModel)]="remark" type='text' row='6'
          style='--padding-start:10px;--padding-end:10px;font-size:14px;color:#333333;--background: #f7f9fd;'
          placeholder="{{voucher.remark}}"></ion-textarea>
      </div>

      <div style='font-size:12px;color:#999999;'>Order summary and payment receipt will be sent to your email address
        upon successful payment. Please make sure all the above information is correct.</div>

      <div style='font-size:12px;color:#999999;margin-top:20px;padding-bottom :30px;'>By placing the order, you've
        agreed to our vsnap's&nbsp;<span (click)="outside('refund')" style='color:#525dc2'>Refund
          Policy</span>&nbsp;and&nbsp;<span (click)="outside('terms')" style='color:#525dc2'>Terms & Conditions</span>
      </div>

    </div>
    <div (click)="buys()"
      style='z-index: 1000; position: sticky;bottom:0px;left:0;display:flex;justify-content: center;align-items: center;height:80px;width:calc( 100%  );background-color: white;'>
      <div
        style='z-index: 1000; padding:10px 20px;background-color: #f53c3c;color:white;text-align: center;font-size:16px;cursor: pointer;'>
        PLACE ORDER</div>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="animer > 5" style='--background:#f7f9fd;'>

  <div
    [ngStyle]="{'padding-left' : widther(900)==true ? ' calc( ( 100vw - 900px ) / 2 )' : '0px','padding-right' : widther(900)==true ? ' calc( ( 100vw - 900px ) / 2 )' : '0px' }"
    style='width:100vw;background-color:#f7f9fd;'>

    <div
      style='width:100%;display:flex;align-items: center;justify-content: space-between;padding:0px 20px;background-color:white;border-bottom:1px solid #eeeeee;height:70px;'>
      <img (click)='tomain()' style='height:30px;object-fit: contain;cursor: pointer;'
        src="https://i.imgur.com/pEyI97C.png" alt="">
      <div *ngIf='user == influencer.id' (click)="store(influencer.id)"
        style='display:flex;align-items: center;justify-content: flex-end;'>
        <img style='height:40px;width:40px;object-fit: cover;border-radius:100%;'
          src="{{influencer['photo'] ? (stringornot(influencer['photo']) ? influencer['photo'] : influencer['photo'][0] ) : 'https://i.imgur.com/GvrNqUS.png' }}"
          alt="">
        <div style='margin-left:10px;cursor: pointer;'>

          <div
            style='font-size:14px;color:#333333;background-color:white;margin-right:20px;text-align: left;font-weight: bold;'>
            {{influencer['name']}}</div>
          <div style='font-size:12px;color:#999999;margin-top:2px;'>Visit my store ></div>
        </div>

      </div>
    </div>

    <div *ngIf='widther(600)==true' style='width:100%;display:flex;background-color: white;'>

      <div style='width:40%;display:flex;justify-content: center;align-items: flex-start;padding:20px;'>
        <ion-slides *ngIf="lengthof(voucher['photo']) > 0"
          style='max-width:calc( 360px - 40px  );max-height:calc( 360px - 40px  );width:calc( 40vw - 40px  );height:calc( 40vw - 40px );'
          pager="true">
          <ion-slide
            *ngFor='let x of (voucher["photo"] || ["http://www.wpkube.com/wp-content/uploads/2019/02/503-unavailable-error-wpk.jpg"])'
            style='max-width:calc( 360px - 40px  );max-height:calc( 360px - 40px  );width:calc( 40vw - 40px  );height:calc( 40vw - 40px  );position: relative;background-color: black;'>
            <img style='width:100%;height:100%;object-fit: contain;position: absolute;z-index:10;' src="{{x.url}}"
              alt="">
            <img style='width:100%;height:100%;object-fit: cover;opacity: 0.5;filter: blur(2px);' src="{{x.url}}"
              alt="">
          </ion-slide>
        </ion-slides>

        <div *ngIf="lengthof(voucher['photo']) == 0"
          style='max-width:calc( 360px - 40px  );max-height:calc( 360px - 40px  );width:calc( 40vw - 40px  );height:calc( 40vw - 40px  );position: relative;background-color: black;'>
          <img style='width:100%;height:100%;object-fit: contain;position: absolute;z-index:10;'
            src="{{voucher.thumbnail}}" alt="">
          <img style='width:100%;height:100%;object-fit: cover;opacity: 0.5;filter: blur(2px);'
            src="{{voucher.thumbnail}}" alt="">
        </div>
      </div>

      <div style='width:60%;padding:20px 20px;'>
        <div style='font-size:14px;color:#999999;'>{{vendor.name}}'s</div>
        <div
          style='font-size:18px;font-weight: bold;margin-bottom:30px;margin-top:5px;line-height: 35px;;color:#333333;'>
          {{voucher.name}}</div>

        <div style='margin-left:0px;display:flex;align-items: center;'>
          <div *ngIf="voucher.price_now" style='font-size:16px;color:#f53c3c;font-weight: bold;'>{{(voucher.price_now +
            countvar())*qty |
            currency:"RM"}}</div>
          <div *ngIf="!voucher.price_now" style='font-size:16px;color:#f53c3c;font-weight: bold;'>APPLY FOR FREE</div>
          <div *ngIf='voucher.price_ori && voucher.price_ori>voucher.price_now'
            style='display:flex;align-items: center;margin-left:10px;'>
            <div style='font-size:12px;color:#999999;text-decoration: line-through;'>&nbsp;{{voucher.price_ori |
              currency:"RM"}}&nbsp;</div>
            <!-- <div style='font-size:12px;color:#f53c3c;margin-left:10px;font-weight: bold;'>RM20 OFF</div> -->
          </div>
        </div>

        <div (click)='donatecsr2021()' *ngIf="voucher['tag']=='CSR2021'"
          style='margin-top:10px;;padding:7px 15px;width:max-content;font-size:14px;color:white;background-color: #8a1515;'>
          Donate to Fight2021</div>


        <div *ngFor='let eve of (voucher["variations"] || []);let i = index' style='width:100%;margin-top:15px;'>
          <div style='font-size:12px;color:#999999;margin-bottom:5px;'>{{eve.name}}</div>
          <div style='width:100%;display:flex;flex-wrap: wrap;'>
            <div (click)='var_select[i]=j' *ngFor='let y of eve["selections"];let j = index'
              [ngStyle]='{"border":var_select[i]==j ? "1px solid #f53c3c" : "1px solid #999999" ,"color":var_select[i]==j ? "#f53c3c" : "#999999","background-color":var_select[i]==j ? "rgba(192,82,84, 0.05)" : "white" }'
              style='padding:5px 10px;margin-right:10px;margin-bottom:10px;cursor: pointer;font-size:12px;border-radius:5px;'>
              {{y.name}}&nbsp;(+&nbsp;{{y.price | currency: "RM"}})</div>
          </div>
        </div>

        <div style='width:100%;margin-top:30px;display:flex;align-items: center;'>

          <div style='display:flex;align-items: center;justify-content: center;margin-right:20px;'>
            <div (click)="qty>1 ? qty=qty-1 : qty"
              style='cursor: pointer;width:30px;height:30px;border:1px solid #999999;display:flex;justify-content: center;align-items: center;'>
              <div style='font-size:16px;color:#999999'>-</div>
            </div>
            <div
              style='width:50px;height:30px;font-size:14px;color:#333333;text-align: center;display:flex;justify-content: center;align-items: center;'>
              {{qty}}</div>
            <div (click)='qty=qty+1;'
              style='cursor: pointer;;width:30px;height:30px;border:1px solid #999999;display:flex;justify-content: center;align-items: center;'>
              <div style='font-size:16px;color:#999999'>+</div>
            </div>
          </div>

          <div (click)='enter=true'
            style='padding:10px 30px;background-color: #f53c3c;color:white;font-size:14px;width: max-content;cursor: pointer;border-radius:5px;'>
            BUY NOW</div>

          <!-- <div style='margin-left:20px;'>
            <div style='font-size:16px;font-weight: bold;'>RM120.00</div>
            <div style='display:flex;align-items: center;margin-top:5px;'>
              <div style='font-size:12px;color:#999999;text-decoration: line-through;'>&nbsp;RM120.00&nbsp;</div>
              <div style='font-size:12px;color:#f53c3c;margin-left:10px;font-weight: bold;'>RM20 OFF</div>
            </div>
          </div> -->

        </div>
      </div>




    </div>

    <div *ngIf='widther(600)==false' style='width:100%;background-color: white;'>

      <div style='width:100%;display:flex;justify-content: center;align-items: flex-start;padding:20px;height:75vw;'>
        <ion-slides *ngIf="lengthof(voucher['photo']) > 0" style='max-width:100%;max-height:100%;width:100%;height:100%'
          pager="true">
          <ion-slide
            *ngFor='let x of (voucher["photo"] || ["http://www.wpkube.com/wp-content/uploads/2019/02/503-unavailable-error-wpk.jpg"])'
            style='max-width:100%;max-height:100%;width:100%;height:100%;position: relative;background-color: black;'>
            <img style='width:100%;height:100%;object-fit: contain;position: absolute;z-index:10;' src="{{x.url}}"
              alt="">
            <img style='width:100%;height:100%;object-fit: cover;opacity: 0.5;filter: blur(2px);' src="{{x.url}}"
              alt="">

          </ion-slide>

        </ion-slides>

        <div *ngIf="lengthof(voucher['photo']) == 0"
          style='max-width:100%;max-height:100%;width:100%;height:100%;position: relative;background-color: black;'>
          <img style='width:100%;height:100%;object-fit: contain;position: absolute;z-index:10;'
            src="{{voucher.thumbnail}}" alt="">
          <img style='width:100%;height:100%;object-fit: cover;opacity: 0.5;filter: blur(2px);'
            src="{{voucher.thumbnail}}" alt="">
        </div>

      </div>

      <div style='width:100%;padding:20px 20px;padding-top:0px;'>
        <div style='font-size:12px;color:#999999;'>{{vendor.name}}'s</div>
        <div style='font-size:14px;font-weight: bold;margin-bottom:10px;margin-top:5px;color:#333333;'>{{voucher.name}}
        </div>

        <div style='margin-left:0px;display:flex;align-items: center;'>
          <div *ngIf="voucher.price_now" style='font-size:14px;color:#f53c3c;font-weight: bold;'>{{(voucher.price_now +
            countvar())*qty |
            currency:"RM"}}</div>

          <div *ngIf="!voucher.price_now" style='font-size:14px;color:#f53c3c;font-weight: bold;'>APPLY FOR FREE</div>

          <div *ngIf='voucher.price_ori && voucher.price_ori>voucher.price_now'
            style='display:flex;align-items: center;margin-left:10px;'>
            <div style='font-size:11px;color:#999999;text-decoration: line-through;'>&nbsp;{{voucher.price_ori |
              currency:"RM"}}&nbsp;</div>
            <!-- <div style='font-size:12px;color:#f53c3c;margin-left:10px;font-weight: bold;'>RM20 OFF</div> -->
          </div>
        </div>
        <div *ngFor='let eve of (voucher["variations"] || []);let i = index' style='width:100%;margin-top:15px;'>
          <div style='font-size:12px;color:#999999;margin-bottom:5px;'>{{eve.name}}</div>
          <div style='width:100%;display:flex;flex-wrap: wrap;'>
            <div (click)='var_select[i]=j' *ngFor='let y of eve["selections"];let j = index'
              [ngStyle]='{"border":var_select[i]==j ? "1px solid #f53c3c" : "1px solid #999999"
               ,"color":var_select[i]==j ? "#f53c3c" : "#999999","background-color":var_select[i]==j ? "rgba(192,82,84, 0.05)" : "white" }'
              style='padding:5px 10px;margin-right:10px;margin-bottom:10px;cursor: pointer;font-size:12px;border-radius:5px;'>
              {{y.name}}&nbsp;(+&nbsp;{{y.price | currency: "RM"}})</div>
          </div>
        </div>

        <div style='width:100%;margin-top:30px;display:flex;align-items: center;'>

          <div style='display:flex;align-items: center;justify-content: center;margin-right:20px;'>
            <div (click)="qty>1 ? qty=qty-1 : qty"
              style='cursor: pointer;width:25px;height:25px;border:1px solid #999999;display:flex;justify-content: center;align-items: center;'>
              <div style='font-size:16px;color:#999999'>-</div>
            </div>
            <div
              style='width:40px;height:30px;font-size:12px;color:#333333;text-align: center;display:flex;justify-content: center;align-items: center;'>
              {{qty}}</div>
            <div (click)='qty=qty+1;'
              style='cursor: pointer;;width:25px;height:25px;border:1px solid #999999;display:flex;justify-content: center;align-items: center;'>
              <div style='font-size:16px;color:#999999'>+</div>
            </div>
          </div>

          <div (click)='enter=true'
            style='padding:10px 20px;background-color: #f53c3c;color:white;font-size:12px;width: max-content;cursor: pointer;border-radius:5px;text-align: center;'>
            BUY NOW</div>

          <!-- <div style='margin-left:20px;'>
            <div style='font-size:16px;font-weight: bold;'>RM120.00</div>
            <div style='display:flex;align-items: center;margin-top:5px;'>
              <div style='font-size:12px;color:#999999;text-decoration: line-through;'>&nbsp;RM120.00&nbsp;</div>
              <div style='font-size:12px;color:#f53c3c;margin-left:10px;font-weight: bold;'>RM20 OFF</div>
            </div>
          </div> -->

        </div>
      </div>




    </div>
    <div style='padding:40px 20px;width:100%;background-color: white;padding-top:0px;'>
      <div style='width:100%;border-top:1px solid #eeeeee;padding-bottom:0px;'></div>

      <div style='width:100%;display:flex;align-items: center;'>
        <div *ngIf='disabled[0]==true' (click)='selected=0'
          [ngStyle]='{"border-bottom" : selected==0 ? "1px solid #f53c3c" : "1px solid #eeeeee" ,"color" : selected==0 ? "#f53c3c" : "#999999" }'
          style='width:calc( 100% / 4 );padding:10px;border-bottom:1px solid #eeeeee;text-align: center;font-size:14px;cursor: pointer;'>
          {{( widther(400)==true ? "Description" : "Desc.")}}</div>
        <div *ngIf='disabled[1]==true' (click)='selected=1'
          [ngStyle]='{"border-bottom" : selected==1 ? "1px solid #f53c3c" : "1px solid #eeeeee","color" : selected==1 ? "#f53c3c" : "#999999" }'
          style='width:calc( 100% / 4 );padding:10px;border-bottom:1px solid #eeeeee;text-align: center;font-size:14px;cursor: pointer;'>
          {{( widther(600)==true ? "Terms & Condition" : "T & C")}}</div>
        <div *ngIf='disabled[2]==true' (click)='selected=2'
          [ngStyle]='{"border-bottom" : selected==2 ? "1px solid #f53c3c" : "1px solid #eeeeee","color" : selected==2 ? "#f53c3c" : "#999999" }'
          style='width:calc( 100% / 4 );padding:10px;border-bottom:1px solid #eeeeee;text-align: center;font-size:14px;cursor: pointer;'>
          {{( widther(350)==true ? "About Us" : "About")}}</div>
        <div *ngIf='disabled[3]==true' (click)='selected=3'
          [ngStyle]='{"border-bottom" : selected==3 ? "1px solid #f53c3c" : "1px solid #eeeeee","color" : selected==3 ? "#f53c3c" : "#999999" }'
          style='width:calc( 100% / 4 );padding:10px;border-bottom:1px solid #eeeeee;text-align: center;font-size:14px;cursor: pointer;'>
          {{( widther(350)==true ? "Sellable" : "Sell.")}}</div>
      </div>

      <div *ngIf='selected==0' style='font-size:14px;color:#999999;width:100%;white-space: pre-line;padding:20px 0px;'>
        {{voucher["description"]}}</div>
      <div *ngIf='selected==1' style='font-size:14px;color:#999999;width:100%;white-space: pre-line;padding:20px 0px;'>
        {{voucher["tnc"]}}</div>
      <div *ngIf='selected==2' style='width:100%;padding:20px 0px;'>
        <div style='width:100%;display:flex;align-items: center;justify-content: flex-start;'>
          <img style='height:70px;width:70px;border-radius:100%;object-fit: cover;'
            src="{{vendor['photo'] || 'https://media.istockphoto.com/vectors/young-woman-engaged-in-shopping-and-checkout-her-purchases-vector-id1073204892?b=1&k=6&m=1073204892&s=612x612&w=0&h=WQz5o6GHiShCSZhpcQ6G1Fkg8fPV65UKNU7z2sWTEBg='}}"
            alt="">
          <div style='width:calc( 100% - 70px );padding-left:20px;'>
            <div style='font-size:14px;color:#333333;margin-bottom:10px;margin-top:10px;font-weight: bold;'>
              {{vendor["name"]}}</div>
            <div style='width:calc( 100% );display:flex;flex-wrap: wrap;'>
              <div *ngFor='let x of vendor["link"]' (click)='openlink(x.link, x.name)'
                style='cursor: pointer;;padding:5px 10px;border:1px solid #eeeeee;font-size:12px;margin-right:10px;margin-bottom:10px;'>
                {{x.name}}</div>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="vendor['description']" style='font-size:14px;font-weight: bold;color:#333333;padding-top:20px;padding-bottom:10px;'>Company Description</div> -->
        <div *ngIf="vendor['description']"
          style='font-size:14px;color:#999999;width:100%;white-space: pre-line;padding:20px 0px;'>
          {{vendor["description"]}}</div>

        <div (click)="brand(vendor.id)"
          style='font-size:14px;padding:10px 20px;border:1px solid #f53c3c;color:#f53c3c;width:max-content;margin-top:0px;cursor: pointer;'>
          More from&nbsp;{{vendor["name"]}}&nbsp;></div>

      </div>
      <div *ngIf='selected==3' style='width:100%;padding:20px 0px;'>
        <div *ngFor='let eve of otherproduct;let i = index' (click)="go(eve.id)"
          style='margin-right:20px;margin-bottom:20px;background-color:white;box-shadow:1px 5px 10px rgba(0,0,0,0.1);position: relative;'
          [ngStyle]='{"width" : ( 900 > widtherget()  ? ((widtherget() - 20)/rounder(widtherget() / 200)) - 20 +"px" : "calc( ( 900px - 100px ) / 4 )")  }'>
          <div style='width:100%;cursor: pointer;'>
            <div style='width:100%;padding-bottom:100%;position: relative;'>
              <img
                style='width:100%;height:100%;top:0;left:0;right:0;bottom:0;position: absolute;z-index:10;object-fit: cover;'
                src="{{eve.thumbnail}}" alt="">
            </div>
            <div style='padding:10px;width:100%;'>
              <div style='border:1px solid #eeeeee;padding:3px 7px;font-size:12px;letter-spacing: .5px;color:#999999;;margin-bottom:3px;max-width:100%;white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;width:max-content'>{{eve.by_name}}</div>
              <div style='font-size:14px;color:#262626;font-weight: bold;'>{{eve.name}}</div>

              <div style='width:100%;display:flex;justify-content: space-between;align-items: center;'>

                <div style='margin-top:5px;display:flex;align-items: center'>
                  <div *ngIf="eve.price_now" style='font-size:14px;font-weight: bold;color:#8a1515;'>
                    {{eve.price_now | currency:"RM"}}
                  </div>
                  <div *ngIf="!eve.price_now" style='font-size:14px;font-weight: bold;color:#8a1515;'>
                    APPLY FOR FREE
                  </div>
                  <div *ngIf='eve.price_ori > eve.price_now'
                    style='font-size:11px;font-weight: normal;color:#999999;;text-decoration:line-through;margin-left:5px;'>
                    &nbsp;{{eve.price_ori | currency:"RM"}}&nbsp;</div>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    <div style='padding:40px;border-top:1px solid #eeeeee;background-color: white;;'>
      <div style='font-size:12px;color:#999999;text-align: center;margin-bottom:10px;'>Become a vsnap influencer or
        become a vsnap vendor?&nbsp; <span (click)='join()' style='text-decoration: underline;'>join us now.</span>
      </div>

      <div style='font-size:12px;color:#999999;text-align: center;margin-bottom:20px;'>© Copyright 2020- All rights
        reserved - Vsnap by Vsnap Global Sdn Bhd. version 4.1.0</div>
      <div style='text-align: center;display:flex;align-items: center;justify-content: center;'>
        <span (click)="outside('terms')" style='cursor: pointer;;font-size:10px;color:#525dc2;'>Terms &
          Condition</span>&nbsp;•&nbsp;<span (click)="outside('privacy')"
          style='cursor: pointer;font-size:10px;color:#525dc2;'>Privacy Policy</span>&nbsp;•&nbsp;<span
          (click)="outside('disclaimer')"
          style='cursor: pointer;font-size:10px;color:#525dc2;'>Disclaimer</span>&nbsp;•&nbsp;<span
          (click)="outside('refund')" style='cursor: pointer;font-size:10px;color:#525dc2;'>Refund Policy</span>
      </div>
    </div>
  </div>

</ion-content>

<div *ngIf="5 > animer" [ngClass]=" animer == 0 ? 'loading' : 'loadingx'" style=" width: 100vw; height: 100vh;
  position: fixed; display: flex; align-items: center; justify-content: center;
   background-color: white;">
  <img style="object-fit: cover; height: 100%;" src='assets/clogo.gif'>
</div>